/*
 * @name Complementary
 * @description QOL enhancements for Discord
 * @author D3SOX
 * @version 1.1
*/

// Discord Server Columns
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css");

// Settings Icons
@import url("https://crearts-community.github.io/Settings-Icons/clients/settings-icons.theme.css");

// ContextMenu Icons
//@import url("https://d3sox.github.io/Context-Icons/theme.css");
//@import url("https://d3sox.github.io/Context-Icons/modules/plugins/powercord.css");

// Codeblock icons
@import url("https://snappercord.github.io/codeblock-icons/dist-default.css");

// Replace emojis
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/JoyPixels.css");

:root {
  --font-primary: "SF Pro Display", sans-serif;
  --font-display: "SF Pro Display", sans-serif;

  --columns: 2; // default: 3 (amount of servercolumns)
  --guildsize: 40; // default: 50 (serversize in pixel)
  --guildgap: 3; // default: 3 (top/bottom gap between servers in pixel)
  --aligndms: 0; // default: 0 (should DMs be aligned in columns: 0 = no, 1 = yes)
}

code {
  font-family: "SF Mono", monospace !important;
}

// Hide Help Button
[class^="toolbar"] a[href="https://support.discord.com"] {
  display: none;
}

// Collapsed Search Bar (by Freeplay)
[class*="title-"][class*="container-"] [class*="toolbar-"] [class*="search-"] [class*="searchBar-"] {
  background: none !important;
  width: 24px;
  color: var(--color-text);
  transition: width 0.2s, padding 0.5s;
  padding: 0;
}
[class*="title-"][class*="container-"] [class*="toolbar-"] [class*="search-"] [class*="searchBar-"] [class*="iconContainer-"] {
  width: 24px !important;
  height: 24px;
  cursor: pointer !important;
}
[class*="title-"][class*="container-"] [class*="toolbar-"] [class*="search-"] [class*="searchBar-"],
[class*="title-"][class*="container-"] [class*="toolbar-"] [class*="search-"] [class*="searchBar-"] svg {
  color: var(--color-text);
  width: 24px;
  height: 24px;
  padding: 0.5px;
}
[class*="toolbar-"] [class*="open-"] [class*="searchBar-"] {
  width: 300px !important;
  padding: 0 10px !important;
}
[class*="toolbar-"] [class*="open-"] [class*="searchBar-"] svg {
  color: var(--text-muted);
  transform: scale(0.8);
}

// Hide Nitro upselling (by Vendicated & msm8916)
[class^="channel-"] > div > [href="/store"], // Nitro Button above DM List
[class^="channelTextArea"] [class^="buttons-"] > button, // Gift Button
[class^="upsellVisible-"], // Banner Nitro Upsell Header in the user modal
[class^="premiumIconWrapper"], // Nitro Icon in top right on Banners
[class^="characterCount-"] [class*="upsell-"], // "Send longer Messages with Discord Nitro!"
[class^="emojiSection-"] [class*="shinyButton-"], // "Get Nitro" button in Emoji/Sticker modal"
[class*="tryItOutSection-"], //try nitro banner section on profile editor
[class^="premiumIcon"], // Try remove booster badge
[class^="customizationSection-"] + [class^="upsellContainer-"], // Per server profile customizations
[class^="customizationSection-"][class*="disabled-"], // Per server profile customizations
[class*="bannerNitroUpsell-"], // "Unlock Banner" in profile editor
[class^="imageUploaderHint-"],
[class^="imagePickerContainer-"] > [class^="optionBox-"]:nth-child(2) // Remove gif option from profile pic upload option
{
  display: none !important;
}

// My additions
[class^="premiumTab"], // Nitro settings tab
#user-settings-cog-Discord_Nitro, // Nitro settings right click entry
[class^="subscribeAction"], // Nitro upselling in server boosting screen
[class^="upsellBanner"], // Nitro upselling in screen share
[class^="userPopoutInner"] > [class^="wrapper"] > [class^="banner"], // Nitro upselling in user popout when hovering over banner
#emoji-picker-tab-panel > div:first-child > div:nth-child(2) // Nitro call screen reactions
// [aria-label="Enable more fun reactions with Nitro"] // Alternative selector
{
  display: none !important;
}
// Disable Nitro button in custom emotes popup when emote is not available
[class^="emojiSection"] > div > div > div > a {
  color: inherit;
  pointer-events: none;
}
