/*
 * @name Hide Nitro Upselling
 * @description Hide all Nitro upselling
 * @author Vendicated, msm8916, D3SOX
 * @version 1.0
*/

// Hide Nitro upselling (by Vendicated & msm8916)
[class^="channel-"] > div > [href="/store"], // Nitro Button above DM List
[class^="channelTextArea"] [class^="buttons-"] > button, // Gift Button
[class^="upsellVisible-"], // Banner Nitro Upsell Header in the user modal
[class^="premiumIconWrapper"], // Nitro Icon in top right on Banners
[class^="characterCount-"] [class*="upsell-"], // "Send longer Messages with Discord Nitro!"
[class^="emojiSection-"] [class*="shinyButton-"], // "Get Nitro" button in Emoji/Sticker modal"
[class*="tryItOutSection-"], //try nitro banner section on profile editor
[class^="premiumIcon"], // Try remove booster badge
[class^="customizationSection-"] + [class^="upsellContainer-"], // Per server profile customizations
[class^="customizationSection-"][class*="disabled-"], // Per server profile customizations
[class*="bannerNitroUpsell-"], // "Unlock Banner" in profile editor
[class^="imageUploaderHint-"],
[class^="imagePickerContainer-"] > [class^="optionBox-"]:nth-child(2) // Remove gif option from profile pic upload option
{
  display: none !important;
}

// My additions
[class^="premiumTab"], // Nitro settings tab
#user-settings-cog-Discord_Nitro, // Nitro settings right click entry
[class^="subscribeAction"], // Nitro upselling in server boosting screen
[class^="upsellBanner"], // Nitro upselling in screen share
[class^="userPopoutInner"] > [class^="wrapper"] > [class^="banner"], // Nitro upselling in user popout when hovering over banner
[class^="tierCtaContainer"], [class^="tierCtaContainer"] + [class^="shelf"], // Nitro upselling in activities
a[href*="/snowsgiving"], [class^="customizationSection"] > [class^="limitedFeatureBorder"], // Snowsgiving bs
[class^="upsellOverlayContainer-"], // Upsell overlay in profiles tab
[class*="sansAttachButton"] > [class^="buttons"] > [class^="container"], // Christmas gifting button
[id^="popout"] [class*="contentPremium"], // Nitro upselling popups on settings (e.g. avatar decorations)
[class^="sidebar"] > [class^="container"] > [class^="wrapper"] > [class^="container"] > [class^="content"], // Nitro upselling above profile (e.g. super reactions)
[class^="themeEditor"], // Nitro theme upselling
[class*="cozyMessage"] > [class*="buttonContainer"] > [class*="buttons"] > [class*="wrapper"] > [aria-label*="Add Super Reaction"] // Message Hover menu super reactions
[id^="popout"] [class*="colorPremiumGradient"], // Message Hover overflow menu super reactions
#message [class*="colorPremiumGradient"] // Message right click menu super reactions
#emoji-picker-tab-panel > [class*="emojiPickerHeader"]:first-child > [class^="tooltipContainer"]:nth-child(2) // Nitro call screen reactions
{
  display: none !important;
}
// Disable Nitro button in custom emotes popup when emote is not available
[class^="emojiSection"] > div > div > div > a {
  color: inherit;
  pointer-events: none;
}
