/*
 * @name Hide Nitro Upselling
 * @description Hide all Nitro upselling
 * @author Vendicated, msm8916, D3SOX
 * @version 1.2
*/

// Hide Nitro upselling (by Vendicated & msm8916)
[class^="channel_"] > div > [href="/store"], // Nitro Button above DM List
[class^="channel_"] > div > [href="/shop"], // Shop Button above DM List
[class^="channelTextArea"] [class^="buttons_"] > button, // Gift Button
[class^="upsellVisible_"], // Banner Nitro Upsell Header in the user modal
[class^="premiumIconWrapper"], // Nitro Icon in top right on Banners
[class^="characterCount_"] [class*="upsell_"], // "Send longer Messages with Discord Nitro!"
[class^="emojiSection_"] [class*="shinyButton_"], // "Get Nitro" button in Emoji/Sticker modal"
[class*="tryItOutSection_"], //try nitro banner section on profile editor
[class^="premiumIcon"], // Try remove booster badge
[class^="customizationSection_"] + [class^="upsellContainer_"], // Per server profile customizations
[class^="customizationSection_"][class*="disabled_"], // Per server profile customizations
[class*="bannerNitroUpsell_"], // "Unlock Banner" in profile editor
[class^="imageUploaderHint_"],
[class^="imagePickerContainer_"] > [class^="optionBox_"]:nth-child(2) // Remove gif option from profile pic upload option
{
  display: none !important;
}

// My additions
[class^="premiumTab"], // Nitro settings tab
#user-settings-cog-Discord_Nitro, // Nitro settings right click entry
#user-settings-cog-Billing, // Billing settings right click entry
[class^="subscribeAction"], // Nitro upselling in server boosting screen
[class^="upsellBanner"], // Nitro upselling in screen share
[class^="userPopoutInner"] > [class^="wrapper"] > [class^="banner"], // Nitro upselling in user popout when hovering over banner
[class^="userPopoutInner"] > [class^="containerWrapper"], // Avatar decorations upselling in user popout
//[class*="premiumFeatureBannerBackground"], [class^="container_"]:has([class^="artContainer_"]), // Avatar decorations upselling in profiles settings tab
[style='background-image: url("/assets/30e2c68819facd98.png");'], // Shop upselling in profiles settings tab
[class*="premiumFeatureBorder"], [class^="customizationSection__"]:has([class^="nitroWheel__"]), // Profile effect upselling in profiles settings tab
[class^="userPanelInner"] > [class*="inSidebar"], // Avatar decorations upselling in user side panel
[class^="messageLengthUpsellContainer_"], // Message length Nitro upselling
a[href*="/snowsgiving"], [class^="customizationSection"] > [class^="limitedFeatureBorder"], // Snowsgiving bs
[class*="botTagRemix_"], // Remix using mobile app ad
[class^="nitroFileSizeUpsell__"], // Large file upload nitro upselling
[class^="upsellOverlayContainer_"], // Upsell overlay in profiles tab
[class*="sansAttachButton"] > [class^="buttons"] > [class^="container"], // Christmas gifting button
[id^="popout"] [class*="contentPremium"], // Nitro upselling popups on settings (e.g. avatar decorations)
[id^="popout"]:has([class*="poweredByNitroContainer__"]), // New Nitro upselling popups on settings (e.g. new app icon styles)
[id^="popout"] [class*="upsellTooltipWrapper__"], // Notification sounds upselling
[class^="birthdayFeatureBorder"], // Birthday avatar decoration upselling
[class^="nitroAuthorBadgeContainer_"], // Nitro author badge upselling
[class^="container_"]:has([class^="falloweenArtContainer_"]), // Halloween avatar decoration upselling
[class^="sidebar"] > [class^="container"] > [class^="wrapper"] > [class^="container"] > [class^="content"], // Nitro upselling above profile (e.g. super reactions)
[class^="themeEditor"], // Nitro theme upselling
[class*="cozyMessage"] > [class*="buttonContainer"] > [class*="buttons"] > [class*="wrapper"] > [aria-label*="Add Super Reaction"], // Message Hover menu super reactions
[id^="popout"] [class*="colorPremiumGradient"], // Message Hover overflow menu super reactions
#message [class*="colorPremiumGradient"], // Message right click menu super reactions
[class^="notAppAsidePanel__"] > [class^="layerContainer_"] > [id^="popout_"] > [class^="animatorRight__"] > div:has([class*="artInline_"]), // Profile style gift upselling
[class^="notAppAsidePanel__"] > [class^="layerContainer_"] > [id^="popout_"] > [class^="animatorBottom_"] > div:has(.image_f4d883), // Gift Nitro upselling
[class^="burstReactionTooltipPrompt"], // Super reaction tooltip Nitro upsell
[class^="upsellTooltipWrapper__"], // Notification sounds tooltip Nitro upsell
#emoji-picker-tab-panel [class^=burstToggle], // Super reaction toggle in emoji picker
[class^="questsContainer__"], // Quests
[aria-label="Add Super Reaction"], // Message hover add super reaction icon
[aria-label="GET_PREMIUM"], // Nitro upselling in emoji popup menu
[id="gdm-context-notification-sounds"], [id="user-context-notification-sounds"], [id="guild-context-notification-sounds"], // Notification sounds upselling in context menus
[class^="emojiPickerListWrapper_"] [class^="upsellContainer__"], // Nitro upselling in emoji reaction menu
[role="tabpanel"] [class^="upsellContainer_"], // Nitro upselling in emoji reaction menu
[class*="overlayBackground_"]:has([class*="learnMoreButton_"]), // Join on Nitro upselling in profile sidebar
button:has([class*="premiumSubscribeButton"]), // Nitro upselling in emoji popup menu
[class*="autocompleteInner__"]:has([class*="premiumHeader_"]) [class*="nitroTopDividerContainer__"], [class*="autocompleteInner__"]:has([class*="premiumHeader_"]) [class*="premiumHeader_"], [class*="autocompleteInner__"]:has([class*="premiumHeader_"]) [class*="premiumHeader_"] ~ [class*="premiumEmoji__"], // Nitro upselling in emoji autocomplete
[class^="giftButtonContainer__"], // Gift nitro button in profile sidebar
[class*="container_"][class*="giftNitro_"], // Gift nitro container in gift inventory
[aria-label="Bookmarks"], [aria-label="Save for Later"], #message-actions-save-for-later-upsell, // Nitro bookmarks
div[class*="focusLock_"]:has([class*="freeTrialPillWithSparkles_"]), // Nitro 1 month free upselling modal
[class^="base_"] > [class*="notice_"][class*="colorPremiumTier2_"]:has([class*="premiumIcon_"]), // Nitro resubscribe nag
[class^="accountProfilePopoutWrapper_"] > [class^="popoutContainer__"] > [class^="container__"], // Nitro profile decorations upselling in my profile popout
[class^="profileButtons__"] span:has(button[aria-label*="Shop"]), // Shop button in profile modal
[class^="side_"] > [class^="header_"] + [class^="premiumTab"] + [class^="item_"] + [class^="item_"] + [class^="item_"] + [class^="item_"], // Settings billing tab
#emoji-picker-tab-panel > [class*="emojiPickerHeader"]:first-child > [class^="tooltipContainer"]:nth-child(2) // Nitro call screen reactions
{
  display: none !important;
}
// Disable Nitro button in custom emotes popup when emote is not available
[class^="emojiSection"] > div > div > div > a {
  color: inherit;
  pointer-events: none;
}
// Disable clicking on super reactions
[class^="reactionInner"][aria-label*="burst react"] {
    pointer-events: none;
}
// Reset Nitro upselling color in emoji reaction menu
[class*="categorySectionNitroLocked_"] {
  background-color: unset !important;
}
// Fix top Avatar decorations upselling in user popout
[class^="userPopoutInner"] > [class^="containerWrapper"] {
  top: 0 !important;
}

// Nitro subscribe buttons
[class^="tier0Button"],
[class^="shinyButton"]:not([class*="ctaButtonWrapper_"]) {
  //display: none !important;
  //pointer-events: none !important;
  color: red !important;
  background-color: black !important;
  cursor: not-allowed !important;
  opacity: 0.5 !important;
}
