/*
 * @name Additional personal QOL stuff
 * @description Some more personal QOL enhancements
 * @author D3SOX
 * @version 1.0
*/

// Server Columns
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css");

// Replace emojis
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/JoyPixels.css");

:root {
  --font-primary: "SF Pro Display", sans-serif;
  --font-display: "SF Pro Display", sans-serif;
  --font-code: "SF Mono", monospace;

  --columns: 2; // default: 3 (amount of server columns)
  --guildsize: 50; // default: 50 (server size in pixel)
  --guildgap: 3; // default: 3 (top/bottom gap between servers in pixel)
  --aligndms: 0; // default: 0 (should DMs be aligned in columns: 0 = no, 1 = yes)
}

// Don't highlight new emojis
#emoji-picker-tab-panel :is([class^="badgeLabel_"], [class^="newlyAddedBadge"]) {
  display: none;
}
[class^="newlyAddedHighlight"], [class^="newlyAddedHighlight"]:hover {
  border: none;
}

// Remove avatar decorations in chat
[class*="contents_"] [class*="avatarDecoration_"] {
  display: none;
}

// Remove profile effects
[class*="profileEffects"] {
  display: none;
}

// Remove "x in voice" scroll indicator
[class^="bar_"]:has([class^="voiceChannelsIcon_"]) {
  display: none;
}

// Restore old attachment sizing behavior
[class^="messageAttachment_"] [class^="lazyImg_"] {
  object-fit: contain !important;
}
[class^="imageWrapper_"] img[class^="lazyImg"] {
  object-fit: contain !important;
}

// Reveal hyperlinks
[class^="anchor_"][title*="\a"]::after {
  content: " (" attr(href) ")";
  color: gray;
  font-size: 0.65em;
}

// Remove boosting progress bar
[class*="containerWithMargin_"]:has([class^="progressBarContainer_"]) {
  display: none;
}
