/*
 * @name Additional personal QOL stuff
 * @description Some more personal QOL enhancements
 * @author D3SOX
 * @version 1.0
*/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/JoyPixels.css");
:root {
  --font-primary: "SF Pro Display", sans-serif;
  --font-display: "SF Pro Display", sans-serif;
  --font-code: "SF Mono", monospace;
  --columns: 2;
  --guildsize: 50;
  --guildgap: 3;
  --aligndms: 0;
}

#emoji-picker-tab-panel :is([class^=badgeLabel_], [class^=newlyAddedBadge]) {
  display: none;
}

[class^=newlyAddedHighlight], [class^=newlyAddedHighlight]:hover {
  border: none;
}

[class*=contents_] [class*=avatarDecoration_] {
  display: none;
}

[class*=profileEffects] {
  display: none;
}

[style^="background: linear-gradient(90deg"]:has([src*="/nameplates/"]) {
  display: none;
}

[class*=dm_]:has([class*=linkPlated_]) [class*=linkPlated_] {
  padding-right: var(--space-16);
}
[class*=dm_]:has([class*=linkPlated_]) [class*=closeButtonPlated_] {
  opacity: 0.7;
}
[class*=dm_]:has([class*=linkPlated_]) [class*=closeButtonPlated_]:hover {
  opacity: 1;
}
[class*=dm_]:has([class*=linkPlated_]) [class*=closeButtonPlated_] [class^=innerCloseButtonPlated] {
  opacity: unset;
  background: none;
}
[class*=dm_]:has([class*=linkPlated_]) [class*=closeButtonPlated_] [class^=innerCloseButtonPlated] svg {
  color: inherit;
}
[class*=dm_]:has([class*=linkPlated_]) [class*=closeButtonPlated_] [class^=innerCloseButtonPlated] svg:is(:hover, :focus-within) {
  color: var(--interactive-hover);
}

[class*=clanTagChiplet_], [class*=clanTag_] {
  display: none;
}

[class^=bar_]:has([class^=voiceChannelsIcon_]) {
  display: none;
}

[class^=messageAttachment_] [class^=lazyImg_] {
  object-fit: contain !important;
}

[class^=imageWrapper_] img[class^=lazyImg] {
  object-fit: contain !important;
}

[class^=anchor_][title*="\a"]::after {
  content: " (" attr(href) ")";
  color: gray;
  font-size: 0.65em;
}

[class*=containerWithMargin_]:has([class^=progressBarContainer_]) {
  display: none;
}
