/*
 * @name Additional personal QOL stuff
 * @description Some more personal QOL enhancements
 * @author D3SOX
 * @version 1.0
*/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/JoyPixels.css");
@import url("https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/hidden.css");
:root {
  --font-primary: "SF Pro Display", sans-serif;
  --font-display: "SF Pro Display", sans-serif;
  --font-code: "SF Mono", monospace;
  --columns: 2;
  --guildsize: 50;
  --guildgap: 3;
  --aligndms: 0;
}

#emoji-picker-tab-panel :is([class^=badgeLabel_], [class^=newlyAddedBadge]) {
  display: none;
}

[class^=newlyAddedHighlight], [class^=newlyAddedHighlight]:hover {
  border: none;
}

[class*=contents_] [class*=avatarDecoration_] {
  display: none;
}

[class*=profileEffects] {
  display: none;
}

[class^=bar_]:has([class^=voiceChannelsIcon_]) {
  display: none;
}

[class^=messageAttachment_] [class^=lazyImg_] {
  object-fit: contain !important;
}

[class^=imageWrapper_] img[class^=lazyImg] {
  object-fit: contain !important;
}

[class^=anchor_][title*="\a"]::after {
  content: " (" attr(href) ")";
  color: gray;
  font-size: 0.65em;
}

[class*=containerWithMargin_]:has([class^=progressBarContainer_]) {
  display: none;
}

[class^=membersGroup_]:has([class^=toggleExpandIcon_]) {
  display: none !important;
}

[class*=closedFolderIconWrapper_] > [class*=guildIcon_],
[data-list-item-id*=guildsnav_] > [class*=icon_] {
  border-radius: 50% !important;
}

.visual-refresh {
  --custom-channel-textarea-text-area-height: 56px;
}
.visual-refresh .form_f75fb0 {
  margin: 0 8px 8px 8px;
  padding: 0;
  --chatbar-border-color: var(--border-faint);
}
.visual-refresh .channelTextArea_f75fb0 {
  margin: 0;
  border-color: var(--chatbar-border-color);
  transition: none;
}
.visual-refresh .base_b88801 {
  top: -25px;
  left: 0;
  right: 0;
  background-color: var(--chat-background-default);
  padding: 0 8px;
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
  border: 1px solid var(--chatbar-border-color);
  border-bottom: none;
  transition: none;
}
.visual-refresh .stackedBars__74017,
.visual-refresh .threadSuggestionBar__841c8 {
  border-color: var(--chatbar-border-color) !important;
}
.visual-refresh .form_f75fb0:has(.base_b88801) .channelTextArea_f75fb0 {
  border-radius: 0 0 var(--radius-sm) var(--radius-sm);
}
.visual-refresh .form_f75fb0:has(.channelTextArea__74017:focus-within) {
  --chatbar-border-color: var(--border-subtle);
}
.visual-refresh .scrollerSpacer__36d07 {
  height: 33px;
}
.visual-refresh .scroller__36d07::-webkit-scrollbar-track {
  margin-bottom: 29px;
}
.visual-refresh .bottomBar__0f481 {
  margin-bottom: 25px;
}
